/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* BOTÓN HAMBURGUESA */
.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;

    font-size: 25px;
    padding: 10px 15px;
    cursor: pointer;

    background: #2e7d32;
    color: white;

    border-radius: 6px;

    z-index: 1000; /* 🔥 siempre arriba */
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: -260px; /* oculto */
    width: 260px;
    height: 100%;

    background: #1b5e20;
    color: white;

    padding: 20px;
    transition: 0.3s;

    z-index: 999; /* debajo del botón */
}

/* cuando se abre */
.sidebar.active {
    left: 0;
}

/* contenido del sidebar */
.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar li:hover {
    background: rgba(255,255,255,0.2);
}


/* SECCIONES */
.section {
    display: none;
    min-height: 80vh; /* evita que se vea vacío */
}

.section.active {
    display: block;
}

/* TITULOS */
h1 {
    margin-top: 0;
}
/* ===== AJUSTE DE CONTENIDO CON SIDEBAR ===== */

.content {
    padding: 80px 30px 30px 30px;
    transition: margin-left 0.3s;
}


/* sombra opcional */
.sidebar {
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}